// @import "/sass/layout/header.scss";

// Definindo variáveis personalizadas (podem ser as mesmas que você já criou)
$primary-font-family: "Roboto", sans-serif;
$primary-font-weight: 600;
$secondary-font-family: "Roboto Slab", serif;
$secondary-font-weight: 400;
$text-font-family: "Roboto", sans-navbar;

// Definindo variáveis de cores
$primary-color: #6EC1E4;
$secondary-color: #8DB04A;
$text-color: #228B22;
$accent-color: #61CE70;
$white-color: #FFFFFF;
$black-color: #000000;
$custom-dark-green: #387543;
$bg-more-dark-green: #387543;
$boxShadow: 0.1rem solid rgba(255,255,255, 0.3);
$main-color: #387543;
$bg: #fff;
$bg-card: #8DB04A;
$color-btn: #E5A000;
$color-font: #228B22;


// Configurando o Bootstrap para usar essas variáveis
$font-family-base: $text-font-family;
// $font-weight-base: $text-font-weight;
$headings-font-family: $primary-font-family;
$headings-font-weight: $primary-font-weight;
// $btn-font-family: $accent-font-family;
// $btn-font-weight: $accent-font-weight;

$body-color: $text-color;
$body-bg: $white-color;
$primary: $primary-color;
$secondary: $secondary-color;
$success: $accent-color;
$dark: $custom-dark-green;




// Outras personalizações adicionais que você desejar
.primary-font {
    font-family: $primary-font-family;
    font-weight: $primary-font-weight;
}

.secondary-font {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight;
}

.text-font {
    font-family: $text-font-family;
    // font-weight: $text-font-weight;
}

// .accent-font {
//     font-family: $accent-font-family;
//     font-weight: $accent-font-weight;
// }

.white-color-text {
    color: $white-color !important;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.text-dark-green {
    color: $text-color;
}

.text-color {
    color: $text-color;
}

.accent-color {
    color: $accent-color;
}

.white-color {
    background-color: $white-color;
}

.black-color {
    background-color: $black-color;
}


.custom-dark-green {
    background-color: $custom-dark-green;
}

.custom-more-dark-green {
    background-color: $bg-more-dark-green;
}

._header_item {
    border-radius: 2rem !important;
    color: white !important;
    font-weight: 600 !important;
  }

._header_item:hover {
    background-color: $color-btn !important;
    color: $white-color !important;
    border-radius: 1rem !important;
}


.container-baixe-app {
    display: flex !important;
    justify-content: center !important;;
    align-items: center !important;;
    gap: 2rem !important;
  }
  
  .secao-baixe-app {
    padding: 1rem !important;
    background-color: $main-color !important;;
    display: flex !important;
    width: 100% !important;
  }
  
  .paragrafo-app {
    width: 22rem !important;
    font-size: 16px !important;;
    color: #fff !important;
    font-weight: 600 !important;;
  }
  
  .img-logo-app {
    width: 6rem !important;
  }
  
  .botao-mascote-store {
    display: flex !important;
    align-items: center !important;
    gap: 2rem !important;
  
    & .botao-store {
        display: flex !important;
        flex-flow: column !important;
    }
  
    & .img-mascote-app {
        width: 6rem!important;
    }
  }



//   Sessão Encartes


 
 .secao-encartes{
   display: flex;
   width: 50%;
   flex-flow: column;
   gap: 2rem;
 }
 
 .conteudo-encartes {
   display: flex;
   flex-flow: column;
   width: 40rem;
   gap: 1.2rem;
 }
 
 .titulo-encarte {
   font-size: 26px;
   color: #0A1ED8;
   font-weight: 600;
 }
 
 .subtitulo-encartes {
   font-size: 32px;
   color: #228B22;
   font-weight: 600;
 }
 
 .encartes-frutas {
   display: flex;
   justify-content: end;
 }


 .btn {
    padding: 1rem !important;
    background-color: $color-btn !important;
    border-radius: 1rem !important;
    color: $bg;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: $color-btn;
  }
}