// @import "/sass/layout/header.scss";

// Definindo variáveis personalizadas (podem ser as mesmas que você já criou)
$primary-font-family: "Roboto", sans-serif;
$primary-font-weight: 600;
$secondary-font-family: "Roboto Slab", serif;
$secondary-font-weight: 400;
$text-font-family: "Roboto", sans-navbar;

// Definindo variáveis de cores
$primary-color: #6EC1E4;
$secondary-color: #8DB04A;
$text-color: #228B22;
$accent-color: #61CE70;
$white-color: #FFFFFF;
$black-color: #000000;
$custom-dark-green: #387543;
$bg-more-dark-green: #387543;
$boxShadow: 0.1rem solid rgba(255,255,255, 0.3);
$main-color: #387543;
$bg: #fff;
$bg-card: #8DB04A;
$color-btn: #E5A000;
$color-font: #228B22;


// Configurando o Bootstrap para usar essas variáveis
$font-family-base: $text-font-family;
// $font-weight-base: $text-font-weight;
$headings-font-family: $primary-font-family;
$headings-font-weight: $primary-font-weight;
// $btn-font-family: $accent-font-family;
// $btn-font-weight: $accent-font-weight;

$body-color: $text-color;
$body-bg: $white-color;
$primary: $primary-color;
$secondary: $secondary-color;
$success: $accent-color;
$dark: $custom-dark-green;




// Outras personalizações adicionais que você desejar
.primary-font {
    font-family: $primary-font-family;
    font-weight: $primary-font-weight;
}

.secondary-font {
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight;
}

.text-font {
    font-family: $text-font-family;
    // font-weight: $text-font-weight;
}

// .accent-font {
//     font-family: $accent-font-family;
//     font-weight: $accent-font-weight;
// }

.white-color-text {
    color: $white-color !important;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.text-dark-green {
    color: $text-color;
}

.text-color {
    color: $text-color;
}

.accent-color {
    color: $accent-color;
}

.white-color {
    background-color: $white-color;
}

.black-color {
    background-color: $black-color;
}


.custom-dark-green {
    background-color: $custom-dark-green;
}

.custom-more-dark-green {
    background-color: $bg-more-dark-green;
}

._header_item {
    border-radius: 2rem !important;
    color: white !important;
    font-weight: 600 !important;
  }

._header_item:hover {
    background-color: $color-btn !important;
    color: $white-color !important;
    border-radius: 1rem !important;
}


.icons {
  width: 1rem !important;
  display: flex;
  align-items: center;
  color: $color-btn;
}


.container-baixe-app {
  display: flex !important;
  justify-content: center !important;;
  align-items: center !important;;
  gap: 2rem !important;
}

.secao-baixe-app {
  padding: 1rem !important;
  background-color: $main-color !important;;
  display: flex !important;
  width: 100% !important;
}
  
.paragrafo-app {
  width: 22rem !important;
  font-size: 16px !important;;
  color: #fff !important;
  font-weight: 600 !important;;
}
  
.img-logo-app {
  width: 6rem !important;
}

.botao-mascote-store {
  display: flex !important;
  align-items: center !important;
  gap: 2rem !important;

  & .botao-store {
      display: flex !important;
      flex-flow: column !important;
  }

  & .img-mascote-app {
      width: 6rem!important;
  }
}


//   Sessão Encartes

.mascote-encarte {
  width: 22rem;
  height: 22rem;
}

.secao-encartes{
  display: flex;
  width: 50%;
  flex-flow: column;
  gap: 2rem;
}

.conteudo-encartes {
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
}

.titulo-encarte {
  font-size: 26px;
  color: #0A1ED8;
  font-weight: 600;
}

.subtitulo-encartes {
  font-size: 32px;
  color: #228B22;
  width: 25rem!important;
  font-weight: 600;
}

.cesta-frutas {
  margin-left: 15rem;
  margin-top: 2.2rem;
}

.cesta-frutas-img {
  width: 20rem!important;
  display: flex!important;
}


.btn-encarte {
  width: 280px !important;
  height: 48px !important;
  background-color: $color-btn !important;
  border-radius: 1rem !important;
  color: $bg !important;
  font-size: 24px!important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

.btn-encarte:hover {
  width: 280px !important;
  height: 48px !important;
  background-color: #a87806 !important;
  transition: 0.2s;
  border-radius: 1rem !important;
  color: $bg !important;
  font-size: 24px!important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

/* Esconde por padrão */
.hide-mobile {
  display: none !important; 
}

/* Mostra a partir de 768px */
@media (min-width: 992px) {
  .hide-mobile {
    display: block !important;
  }
}


//Nossas lojas

.titulo-secao-lojas {
  font-size: 1.8rem;
  width: 3rem;
  height: 7rem;
  color: $bg;
  border-left: solid 0.4rem #ffb20f;;
  flex: 6;
  padding: 0.52rem 0 0.52rem 2rem;
}

.strong-titulo-store {
  font-weight: 300;
}


.grupo-lojas {
  display: flex;
  gap: 4.6rem;
}

.card-mystore {
  background-color: $bg-card !important;
  display: flex !important;
  align-items: center !important;
  flex-flow: column !important;
  text-align: left !important;
  gap: 1rem !important;
  padding: 1.6rem !important;
  width: 16rem !important;
  height: 20rem !important;
  border-radius: 1.6rem !important;
  box-shadow: 0 0.8rem 0.4rem rgba(0, 0, 0, 0.15) !important;;
}

.content-card-store{
  display: flex!important;
  justify-self: center !important;
  line-height: 1.6!important;
  font-size: 1.2rem!important;
}

.btn-card {
  background-color: $color-btn;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.8rem 0.4rem rgba(0, 0, 0, 0.15);
  font-weight: 600;
  color: $bg;
    &:hover {
      background-color: darken($color-btn, 10%);
  }
}


// Footer

.secao-rodape{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: start;
}

.logo-rodape {
  width: 12rem;
  height: auto;
}

.coluna-footer {
  display: flex;
  flex-flow: column;
  gap: 1.4rem;
  line-height: 1.1;
}

.coluna-footer--opcoes {
  line-height: 1.6;
}

.titulos-footer {
  font-size: 1.2rem;
}

.logo-redes-sociais-footer {
  width: 5rem;
}

.logo-app-footer {
  display: flex;
  flex-flow: column;
}

.rodape-copyright{
  padding: 0.44rem;
  font-size: 1rem;
  text-align: center;
  background-color: silver;
}
